---

---
<header id="header">zejfhzefhjk
    <div class="content">
        <h1>
            Hi, i am Astra. <span class="accent">Full-stack</span> Specialist!
        </h1>
        <p class="description">
            I'm a full-stack Developer specializing in React.js, Next.js, Node.jd and
            database management. I build scalable, huight-performance web applications, robust-back-end
            architecture, and efficetn API integrations.
        </p>
        <div class="button-container">
            <a href="/projects">View projects</a>
            <a href="/resume.pdf" download>Download resume</a>
        </div>
    </div>
    <img src="/images/me.png"/>
</header>