---
const heading = "My Skills"
//const skills = ['HTML', 'CSS', 'JavaScript'];
import skills from '../data/skills.json'
---

<section>
    <h2>{heading}</h2>
    <ul>
        { skills.map( skill => (
                <li>{skill}</li>
        ))
        }
    </ul>
</section>